<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocSort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DocSort.Properties.Settings>
            <setting name="ColWidth_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColWidth_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColWidth_3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColWidth_4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColWidth_5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FillWindowMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColWidth_6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pathMainFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="types" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Кон. работы</string>
                        <string>Курсовые</string>
                        <string>Медичка</string>
                        <string>Отчёт</string>
                        <string>Сам. работы</string>
                        <string>Учебный план</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="authers" serializeAs="String">
                <value />
            </setting>
        </DocSort.Properties.Settings>
    </userSettings>
</configuration>